body {
  margin:0;
  background-color: olive;
  overflow: hidden;
}


::-webkit-input-placeholder { /* Chrome */
  color: #D3D3D3 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D3D3D3 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D3D3D3 !important;
  opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #D3D3D3!important;
  opacity: 1 !important;
}

#pun-box{
  height:50vw; width:100vw;
  display:flex;
}

form{
  width:100vw;
  display:flex;
  margin: auto;
}

#title {
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 7.3vw;
  color: white;
  margin: auto;
  text-align: center;
  border-radius: 5vw;
  border: none;
  position: absolute;
}
.video-play{
z-index: -1;
position:absolute;
margin: auto;
width: 100vw
}

.video-text{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 6vw;
  color: white;
  text-align: center;
  margin-left: 35vw;
  margin-top: 30vw;
}

input{
  width: 41vw;
  height: 2vw;
  background-color: rgba(255,255,255, 1.0);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
  color: black;
  margin:auto;
  padding: 0vw 6vw 0vw 15vw;
  margin-top: 8.5vw;
  text-align: left;
  outline: none;
  border-radius: 5vw;
  border: none;
}
